<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/actions.js"></script>
        <title>URL clicks</title>
    </head>
    <body>
        <div class="link-info">
            <section class="short-link-info">
                <p class="short-link" id="short-link" th:text="${stats.getShortLink()}">URL</p>
                <button class="button copy-link-button" id="copy-button" type="button" onclick="copyShortLink()">Copy</button>
            </section>
            <section class="link-additional-info">
                <p class="info-line">Clicks from the outer world: <b th:text="${stats.getTargetClicks()}">Target clicks</b></p>
                <p class="info-line">Clicks from <span th:text="${restrictedCountries}">Restricted countries</span>: <b th:text="${stats.getRestrictedClicks()}">Restricted clicks</b></p>
                <p class="info-line">Clicks from an unknown location: <b th:text="${stats.getUnknownClicks()}">Unknown clicks</b></p>
                <p class="info-line"><a href="/">Shorten another URL</a></p>
            </section>
        </div>
    </body>
</html>
